#banner{
    width: 95%;
    border: solid black 2px;
    background-color: darkcyan;
    color: white;
    text-align: center;
    font-size: 3vw;
}
p{
    font-size: 1.5vw;
}

#container{
    width: 95%;
    border: solid black 2px;
    background-color: darkolivegreen;
    color: white;
    text-align: center;
    font-size: 2vw;
}

#headers{
    font-size: 2vw;
}

#int{
    text-align: center;
    width: 40%;
    border: black solid 2px;
    background-color: darkred;
    padding: 2px;
    margin: 2px;
}

#int2{
    text-align: center;
    width: 40%;
    border: black solid 2px;
    background-color: darkorchid;
    padding: 2px;
    margin: 2px;
}
#int3{
    text-align: center;
    width: 40%;
    border: black solid 2px;
    background-color: darkslategray;
    padding: 2px;
    margin: 2px;
}
#int4{
    text-align: center;
    width: 40%;
    border: black solid 2px;
    background-color: deepskyblue;
    padding: 2px;
    margin: 2px;
}
#img{
    width: 90%;
}
li{
    display: inline-block;
    
    text-decoration: none;
}
nav#menu{
    background-color: dodgerblue;
    border: 2px black solid;
    width: 95%;
    text-align: center;
}
a{
    text-decoration: none;
}
a:hover{
    background-color: yellowgreen;
    font-size: 3vw;
}